.enemy {
  font-size: 100px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__label-no {
    font-size: 20px;
    position: absolute;

    &--lvl {
      right: -12px;
      top: -12px;
    }

    &--hp {
      left: -12px;
      top: -12px;
    }

    &--atk {
      right: -12px;
      bottom: 0;
    }
  }

  &__label-text {
    font-size: 12px;
    margin-left: 2px;

    &--lvl {
      margin-left: 0;
      margin-right: 2px;
    }
  }
}