.header {
  background: #e4f1fe;
  border-bottom: 1px solid #22a7f0;
  box-sizing: border-box;
  color: #22a7f0;
  font-size: 25px;
  height: 80px;
  margin-bottom: 50px;
  padding: 15px; }
  .header__logo {
    color: #000; }
  .header__trigram {
    cursor: pointer;
    float: right;
    font-size: 20px; }
  .header__stat {
    float: left;
    margin-right: 20px; }
  .header__label-no {
    font-size: 20px; }
  .header__label-text {
    font-size: 12px;
    margin-left: 2px; }
    .header__label-text--lvl {
      margin-left: 0;
      margin-right: 2px; }
